<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>



    <div class="row no-gutters">
        <div class="card col-6 mx-auto shadow">
            <div class="card-header text-center">
                <h5 class="m-0">Error 1234</h5>
            </div>
            <div class="card-body col-12">
                <h1>Error.</h1>
                <h5>An error occurred while processing your request. Please make sure you filled in all of the forms.</h5>
                <br />
                <h5><a href="~/Home/Index">&#8592;Back</a></h5>
            </div>
        </div>

    </div>



</body>
</html>
